@keyframes increase-size {
    from {
        width: 60px;
    }
    to {
        width: 100px;
    }
}

#hrContato{
    height: 3px; 
    border-radius: 15px; 
    background-color: white;
    animation: increase-size 1s infinite alternate;
}

.inputFormDark{
    background-color: rgb(49, 49, 49) !important;
    color: rgb(207, 207, 207) !important;
    border: none !important;
    font-weight: bold !important;
}