@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Nunito', sans-serif;
}

#div-navegacao{
    background-color: rgba(235, 235, 235, 0.363);
    backdrop-filter: blur(2px);
}

.nav-a {
    color: #080538;
}

.nav-a:hover {
    text-decoration: none;
    color: rgb(17, 0, 255);
}

.btn-meus-projetos {
    border: none !important;
    background: linear-gradient(to right, rgb(17, 0, 255), rgb(234, 0, 255));
}

#icons{
    font-size: 1.3rem;
    transition: 0.2s all;
}

#icons:hover{
    width: 2rem !important;
    color: #3e48d6  !important; 
}

ul{
    list-style-type: "> ";
}

#hrContato{
    height: 3px; 
    border-radius: 15px; 
    background-color: white;
    animation: increase-size 1s infinite alternate;
}



@keyframes increase-size {
    from {
        width: 60px;
    }
    to {
        width: 100px;
    }
}


.inputFormDark{
    background-color: rgb(49, 49, 49) !important;
    color: rgb(207, 207, 207) !important;
    border: none !important;
    font-weight: bold !important;
}

#div-competencias{
    background-color: rgb(29, 29, 29);
    color: rgb(204, 204, 204);
    transition: 0.2s all;
}

#div-competencias:hover{
    box-shadow: 2px 2px 0 #ccc,
                4px 4px 0 #c9c9c9,
                6px 6px 0 #bbb,
                8px 8px 0 #b9b9b9,
                10px 10px 0 #aaa,
                12px 12px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                2px 2px 3px rgba(0,0,0,.3),
                6px 6px 5px rgba(0,0,0,.2),
                10px 10px 10px rgba(0,0,0,.25),
                20px 20px 10px rgba(0,0,0,.2),
                40px 40px 20px rgba(0,0,0,.15);
    transform: scale(102%);
}

#div-icons-competencias{
    border-radius: 50px;
}

.nome-projeto{
    color: #333333;
    text-shadow: 0 0 40px #0004ff9d;
}

.img-projeto{
    border-radius: 10px;
    filter: blur(2px) brightness(0.5);
}

.img-projeto:hover{
    box-shadow: 0 10px 5px #353535;
    filter: none;
}
#img-foto{
    border-radius: 50%;
    box-shadow: 0 0 100px rgba(117, 102, 255, 0.651);
    animation: opacity-change 5s infinite;
}

@keyframes opacity-change {
    0% {
        box-shadow: 0 0 100px #7566ff34;
    } 30% {
        box-shadow: 0 0 100px #7566ffa6;
    } 100% {
        box-shadow: 0 0 100px #7566ff34;
    }
}

@media (max-width: 1000px){
    *{
        font-size: 1.7rem;
    }

    #btn-meus-projetos{
        font-size: 2rem !important;
    }

    #nome{
        font-weight: 600;
    }
}