<!DOCTYPE html>
<html lang="pt-br">

<head>
</head>

<body>
    <div class="container">

        <div class="row d-flex justify-content-center mt-5 pt-5">
            <div class="col text-center">
                <span class="h4">Envie um email</span>
                <hr id="hrContato">
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-lg-5 mt-5 pt-5">
                <form autocomplete="off">
                    <div class="row my-3">
                        <input class="form-control inputFormDark" type="text" placeholder="Assunto" id="subject">
                    </div>
                    <div class="row mt-3">
                        <textarea class="form-control inputFormDark" rows="5" placeholder="Mensagem"
                            id="message"></textarea>
                    </div>
                    <div class="row mt-2 d-flex justify-content-end">
                        <button class="btn btn-outline-primary btn-sm" onclick="sendEmail()">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>