<!DOCTYPE html>

<head>
</head>

<body>
    <div class="container-sm-fluid container-lg px-sm-5 px-lg-5 py-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h2 style="font-size: 80px;">Currículo</h2>
                <span><i class="bi bi-geo-alt-fill"></i> João Pessoa - Paraíba</span>
            </div>
            <div class="col-12 col-lg-6 text-center mb-lg-2">
                <span>Consegue me vencer?</span>
                <div class="col">
                    <button class="btn btn-outline-primary btn-velha" id="b-top-left" onclick="chooseBtn('b-top-left')">  </button> 
                    <button class="btn btn-outline-primary btn-velha" id="b-top" onclick="chooseBtn('b-top')">  </button> 
                    <button class="btn btn-outline-primary btn-velha" id="b-top-right" onclick="chooseBtn('b-top-right')">  </button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary btn-velha" id="b-left" onclick="chooseBtn('b-left')">  </button> 
                    <button class="btn btn-outline-primary btn-velha" id="b-center" onclick="chooseBtn('b-center')">  </button> 
                    <button class="btn btn-outline-primary btn-velha" id="b-right" onclick="chooseBtn('b-right')">  </button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-primary btn-velha" id="b-bot-left" onclick="chooseBtn('b-bot-left')">  </button> 
                    <button class="btn btn-outline-primary btn-velha" id="b-bot" onclick="chooseBtn('b-bot')">  </button> 
                    <button class="btn btn-outline-primary btn-velha" id="b-bot-right" onclick="chooseBtn('b-bot-right')">  </button>
                </div>
                <span id="placar">Luan: 0 Visitante: 0</span>
                <p id="avisos"></p>
            </div>
        </div>
        <div class="row text-justify">
            <!--Coluna Esquerda-->
            <div class="col-sm-12 col-lg-7 mb-sm-5 pr-lg-5">
                <hr>
                <!--Perfil-->
                <div class="row py-3">
                    <div class="col-sm-12 col-lg-3">
                        <h5><span><em>Perfil</em></span></h5>
                    </div>
                    <div class="col-sm-12 col-lg-9">
                        <span>Colaborar em um ambiente de trabalho na área de
                            desenvolvimento onde eu possa colocar em pratica meus
                            conhecimentos adquiridos na faculdade e no estágio da
                            fábrica de software da Unipê.
                        </span>
                    </div>
                </div>
                <hr>
                <!--Educação-->
                <div class="row py-3">
                    <div class="col-sm-12 col-lg-3">
                        <h5><span><em>Educação</em></span></h5>
                    </div>
                    <div class="col-sm-12 col-lg-9">
                        <span>
                            <a href="https://www.unipe.edu.br/" target="_blank">
                                Unipê - Centro Universitário de João Pessoa
                            </a><br>
                            Tecnólogo em Análise e Desenvolvimento de Sistemas - Presencial<br>
                            Ago 2019 - Ago 2021
                        </span>
                    </div>
                </div>
                <hr>
                <!--Exp Profissional-->
                <div class="row py-3">
                    <div class="col-sm-12 col-lg-3">
                        <h5><spam><em>Experiência</em></spam></h5>
                    </div>
                    <div class="col-sm-12 col-lg-9">
                        <span>
                            <em><a href="https://www.instagram.com/fabricadesoftwareunipe/" target="_blank">Fábrica de
                                    Software
                                    Unipê
                                </a> / PMPB
                            </em>
                            <br>
                            Cedido pela Fábrica de Software - Unipê em vínculo com a Polícia
                            Militar da Paraíba atuei como SquadLeader em um time de 8 integrantes desenpenhando o papel
                            de backend/frontend em um dos principais projetos de benefício da PMPB onde adquiri
                            conhecimentos no framework Django, Rest framework, linguagem Python, banco de dados
                            PostgreSQL, métodologia ágil Scrumban, controle de versões, Git, Trello, Slack, além de ter
                            obtido o certificado de Destaque Squad-Leader da Fábrica de Software.<br>
                            Jan 2021 - Ago 2021
                        </span>
                        <hr>
                    </div>
                </div>
                <!--Certificações-->
                <hr>
                <div class="row py-3">
                    <div class="col-sm-12 col-lg-3">
                        <h5><spam><em>Certificações</em></spam></h5>
                    </div>
                    <div class="col-sm-12 col-lg-9">
                        <em>
                            <ul style="list-style-image: url('img/bookmark-fill.svg');">
                                <li>
                                    <a href="https://1drv.ms/b/s!ApJveMEwBsU7pmE9j5xJzN97UHZs?e=xbzy0d" target="_blank">
                                        <span>Destaque Squad-Leader Fábrica de Software</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://1drv.ms/b/s!ApJveMEwBsU7pmOXghRdxlXRxaXq?e=tojB2S" target="_blank">
                                        Destaque Mérito Acadêmico Unipê
                                    </a>
                                </li>
                                <li>
                                    <a href="https://1drv.ms/u/s!ApJveMEwBsU7pl2JwxGW753Lq1oU?e=Nkd0Up" target="_blank">
                                        Django DevMedia
                                    </a>
                                </li>
                                <li>
                                    <a href="https://1drv.ms/u/s!ApJveMEwBsU7pl6y4MLOmXbgMp7T?e=X7mmBA" target="_blank">
                                        HTML DevMedia
                                    </a>
                                </li>
                                <li>
                                    <a href="https://1drv.ms/b/s!ApJveMEwBsU7pkxQMafRbHQOVWm7" target="_blank">
                                        CSS DevMedia
                                    </a>
                                </li>
                                <li>
                                    <a href="https://1drv.ms/u/s!ApJveMEwBsU7pl8uO2LaM5MOGDgm?e=9Ue5X2" target="_blank">
                                        Java DevMedia
                                    </a>
                                </li>
                                <li>
                                    <a href="https://1drv.ms/u/s!ApJveMEwBsU7pmD2VG6waBb6VJPD?e=mQ3b8T" target="_blank">
                                        Python DevMedia
                                    </a>
                                </li>
                            </ul>
                        </em>
                    </div>
                </div>
                <!--Diploma-->
                <hr>
                <div class="row py-3">
                    <div class="col-sm-12 col-lg-3">
                        <h5><spam><em>Diploma</em></spam></h5>
                    </div>
                    <div class="col-sm-12 col-lg-9">
                        <em>
                            <span>
                                <i class="bi bi-bookmark-star-fill"></i>
                                <a href="https://1drv.ms/b/s!ApJveMEwBsU7pmJUKbYNxiHguAkG?e=NfK5FI" target="_blank">
                                    Tecnólogo em Análise e Desenvolvimento de Sistemas- UNIPÊ
                                </a>
                            </span>
                        </em>
                    </div>
                </div>
                <!--Download pdf-->
                <div class="row d-flex justify-content-center">
                    <a href="utils/Curriculo.pdf" target="_blank">
                        <button class="btn btn-primary">
                            Abrir Currículo em PDF
                            <i class="bi bi-file-earmark-pdf"></i>
                        </button>
                    </a>
                </div>
            </div>

            <!--Coluna Direita-->
            <div class="col-sm-12 col-lg-5 py-3" id="div-competencias">
                <!--Icones-->
                <div class="row my-4 d-flex justify-content-center">
                    <div class="row bg-white py-2 px-4 text-dark" id="div-icons-competencias">
                        <div class="col">
                            <i class="fab fa-python"></i>
                        </div>
                        <div class="col">
                            <i class="fab fa-java"></i>
                        </div>
                        <div class="col">
                            <i class="fab fa-html5"></i>
                        </div>
                        <div class="col">
                            <i class="fab fa-css3-alt"></i>
                        </div>
                        <div class="col">
                            <i class="fab fa-bootstrap"></i>
                        </div>
                        <div class="col">
                            <i class="fab fa-js-square"></i>
                        </div>
                        <div class="col">
                            <i class="fas fa-database"></i>
                        </div>
                    </div>
                </div>
                <!--Linguagens-->
                <div class="row">
                    <div class="col">
                        <h5><span>Linguagens</span></h5>
                        <hr class="bg-secondary">
                        <ul class="px-5">
                            <li>Python</li>
                            <li>Java</li>
                            <li>HTML / CSS / JS</li>
                            <li>Dart</li>
                            <li>Ruby</li>
                            <li>C</li>
                        </ul>
                        <h5><span>Frameworks</span></h5>
                        <hr class="bg-secondary">
                        <ul class="px-5">
                            <li>Django</li>
                            <li>REST Framework</li>
                            <li>Flask</li>
                            <li>Spring Boot with Spring Web Dependency</li>
                            <li>Bootstrap</li>
                        </ul>
                        <h5><span>Mobile</span></h5>
                        <hr class="bg-secondary">
                        <ul class="px-5">
                            <li>Flutter</li>
                        </ul>
                        <h5><span>Database</span></h5>
                        <hr class="bg-secondary">
                        <ul class="px-5">
                            <li>Sql</li>
                            <li>SqLite</li>
                            <li>PostgreSQL</li>
                        </ul>
                    </div>
                </div>                
                <!--Conhecimentos-->
                <div class="row">
                    <div class="col">
                        <h5><span>Conhecimentos</span></h5>
                        <hr class="bg-secondary">
                        </p>
                        <ul class="px-5">
                            <li>Heroku</li>
                            <li>Postman</li>
                            <li>Git / Github</li>
                            <li>Estrutura de Dados</li>
                            <li>POO</li>
                            <li>Banco de Dados</li>
                            <li>Alálise de Algorítmo</li>
                            <li>Windows</li>
                            <li>Canva</li>
                            <li>Scrum</li>
                            <li>Kanban</li>
                            <li>Trello</li>
                            <li>Slack</li>
                            <li>Desenvolvimento de scripts (python)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/velha.js"></script>
</body>

</html>