<!DOCTYPE html>
<html lang="pt-br">

<head>
</head>

<body>
    <div class="row p-5 m-0 m-lg-5 h-100">
        <div class="col-12 col-lg-6">
            <div class="row">
                <h5><span>Olá, eu sou</span></h5>
            </div>
            <div class="row">
                <h1 class="text-uppercase" id="nome">Luan S. Sousa</h1>
            </div>
            <div class="row">
                <h5><span>Analista / Desenvolvedor de Sistemas</span></h5>
            </div>
            <div class="row py-4">
                <!--Icones de Contato-->
                <a href="https://www.linkedin.com/in/luandossantos/" target="_blank">
                    <i class="bi bi-linkedin mx-2 text-dark" id="icons"></i>
                </a>
                <div>
                    <a href="mailto:luan_malaquias@outlook.com">
                        <i class="bi bi-envelope-fill mx-2 text-dark" id="icons"></i>
                    </a>
                </div>
                <div>
                    <a href="https://wa.me/5583988897062" target="_blank">
                        <i class="bi bi-whatsapp mx-2 text-dark" id="icons"></i>
                    </a>
                </div>
                <div>
                    <a href="tel:+5583988897062">
                        <i class="bi bi-telephone-fill mx-2 text-dark" id="icons"></i>
                    </a>
                </div>
                <div>
                    <a href="https://github.com/luanmalaquias" target="_blank">
                        <i class="bi bi-github mx-2 text-dark" id="icons"></i>
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/exoderz/" target="_blank">
                        <i class="bi bi-instagram mx-2 text-dark" id="icons"></i>
                    </a>
                </div>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=100009211133626" target="_blank">
                        <i class="bi bi-facebook mx-2 text-dark" id="icons"></i>
                    </a>
                </div>
                <div class="row"></div>
            </div>
            <div class="row pt-3">
                <a href="#projetos"><button class="btn btn-primary btn-meus-projetos" id="btn-meus-projetos">Meus
                        Projetos</button></a>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="row">
                <span class="text-justify">Entusiasta da área tecnológica, direcionei ao universo do desenvolvimento
                    web, de softwares, aplicativos mobile, scripts. Tendo concluído o <strong>Tecnólogo em Análise e
                        Desenvolvimento de Sistemas</strong> no <em>Centro Universitário de João Pessoa (Unipê)</em> em
                    ago/2021. Contando com participação ativa na Fábrica de Software da Unipê atuando como SquadLeader
                    desenvolvedor BackEnd/Frontend.
                </span>
            </div>
        </div>

    </div>
</body>

</html>