<!DOCTYPE html>
<html lang="pt-br">

<head>
</head>

<body>
    <div class="container-sm-fluid container-lg px-sm-5 px-lg-5">

        <main>
            <div class="row mt-sm-5 pt-sm-4 mt-lg-2 pt-lg-0">
                <div class="col-sm-12 col-lg-6">
                    <h4 class="px-2 bgDarkfgWhite" id="myPortfolio"><strong>MEU_PORTFÓLIO</strong></h4>
                </div>
            </div>
            <div class="row pt-sm-0 pt-lg-5 mt-5 align-items-baseline">
                <h3 style="color: #05bcdc;"><strong>OLÁ</strong></h3><span>, um pouco sobre mim. Eu sou</span>
            </div>
            <div class="row">
                <h1 class="font-weight-bold">Luan dos Santos</h1>
            </div>
            <div class="row">
                <span>Analista / Desenvolvedor de Sistemas.</span>
            </div>
            <div class="row pt-5 pb-4">
                <span class="text-justify">Entusiasta da área tecnologia, direcionei ao universo do desenvolvimento web, de softwares,
                    aplicativos mobile, scripts. Tendo concluído o <strong>Tecnólogo em Análise e Desenvolvimento de Sistemas</strong> no
                    <em>Centro Universitário de João Pessoa (Unipê)</em> em ago/2021. Contando com participação
                    ativa na Fábrica de Software da Unipê atuando como SquadLeader desenvolvedor
                    BackEnd/Frontend.
                </span>
            </div>
            <div class="row pb-5">
                <a href="#curriculo"><button class="btn" id="aboutMeBtn">About Me</button></a>
            </div>
        </main>

        <!--Redes sociais-->
        <footer>
            <div class="row pt-4 pb-5 justify-content-center">
                <a href="https://www.linkedin.com/in/luandossantos/" target="_blank">
                    <i class="bi bi-linkedin mx-2 text-dark" id="icons"></i>
                </a>
                <div>
                    <a href="mailto:luan_malaquias@outlook.com">
                        <i class="bi bi-envelope-fill mx-2 text-dark" id="icons"></i>
                    </a>
                </div>
                <div>
                    <a href="https://wa.me/5583988897062" target="_blank">
                        <i class="bi bi-whatsapp mx-2 text-dark" id="icons"></i>
                    </a>
                </div>
                <div>
                    <a href="tel:+5583988897062">
                        <i class="bi bi-telephone-fill mx-2 text-dark" id="icons"></i>
                    </a>
                </div>
                <div>
                    <a href="https://github.com/luanmalaquias" target="_blank">
                        <i class="bi bi-github mx-2 text-dark" id="icons"></i>
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/exoderz/" target="_blank">
                        <i class="bi bi-instagram mx-2 text-dark" id="icons"></i>
                    </a>
                </div>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=100009211133626" target="_blank">
                        <i class="bi bi-facebook mx-2 text-dark" id="icons"></i>
                    </a>
                </div>
            </div>
        </footer>

    </div>
</body>

</html>