<!DOCTYPE html>

<head>
    <style>
        #imagem-fundo{
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="container-fluid" id="imagem-fundo" style="color: #00000000;">
        <p>1</p>
        <p>0</p>
        <p>1</p>
        <p>1</p>
        <p>0</p>
    </div>

    <script>
        randomImg = Math.floor(Math.random() * (5 - 1) + 1)
            document.getElementById("imagem-fundo").style.backgroundImage = `url('img/fundo/${randomImg}.jpg')`
    </script>
</body>

</html>