<!DOCTYPE html>

<head>
</head>

<body>
    <div class="container-sm-fluid container-lg px-sm-5 px-lg-5 text-justify">
        <h2 style="font-size: 80px;">Projetos</h2>
        <hr>

        <!--OCR-->
        <div class="row">
            <div class="col-sm-12 col-lg-6 mb-sm-5">
                <img src="img/projetos/motorocr.png" alt="Projeto Motor OCR" class="w-100 img-projeto" data-tilt
                    data-tilt-scale="1.1">
            </div>
            <div class="col-sm-12 col-lg-6 mb-sm-5">
                <div class="col">
                    <p class="h3 nome-projeto"><strong>Motor Ocr PMPB</strong></p>
                    <p><strong>Descrição: </strong>Cedido pela Fábrica de Software - Unipê junto com a Polícia
                        Militar da Paraíba atuei na área de BackEnd/FrontEnd em um
                        projeto de benefício da PMPB.</p>
                    <p><strong>Framework: </strong>Django, Bootstrap</p>
                    <p><strong>Linguagem: </strong>Python</p>
                    <p><strong>Principais bibliotecas: </strong>Requests, OpenCv, Tesseract, Rest Framework, Matplot
                        (Gráfico de dados), Reportlab (Gerador de pdf), Pillow / Numpy (Gerenciamento de imagens),
                        Geocoder. </p>
                    <p><strong>Info: </strong>O projeto foi disponibilizado na plataforma Heroku apenas como forma de
                        demonstração para os Product Owners e retirado da plataforma por motivos de restrição do seu
                        conteúdo.</p>
                    <p>
                        <strong>Link: </strong>
                        <a href="https://pmpbocr.herokuapp.com/" target="_blank">Heroku (apenas página de login)</a>
                    </p>
                    <p>
                        (As dynos gratuitas podem ter expirado)
                    </p>
                </div>
            </div>
        </div>
        <hr>

        <!--Nasa-->
        <div class="row">
            <div class="col-sm-12 col-lg-6 mb-sm-5">
                <img src="img/projetos/nasa2.png" alt="Projeto nasa" class="w-100 img-projeto" data-tilt
                    data-tilt-scale="1.1">
            </div>
            <div class="col-sm-12 col-lg-6 mb-sm-5">
                <div class="col">
                    <p class="h3 nome-projeto"><strong>Nasa / Spacex Graphical User View</strong></p>
                    <p><strong>Descrição: </strong>Projeto feito em Python e Django onde realiza requisições a API
                        governamental Nasa e empresa SpaceX na busca de imagens e notícias do mundo espacial de forma
                        interativa.</p>
                    <p><strong>Framework: </strong>Django</p>
                    <p><strong>Linguagem: </strong>Python</p>
                    <p><strong>Principal biblioteca: </strong>Requests</p>
                    <p><strong>Info: </strong>O projeto foi arquitetado em duas linguagens diferentes, Java com JavaGUI
                        e
                        Python com Django. Também uma versão em GitHub Pages mas não finalizado.</p>
                    <p>
                        <strong>Links: </strong>
                        <a href="https://nasaview.herokuapp.com/" target="_blank">Heroku</a> |
                        <a href="https://github.com/luanmalaquias/projeto-api-nasa-java" target="_blank">Repositório
                            Github Java</a> |
                        <a href="https://github.com/luanmalaquias/projeto_api_nasa_django" target="_blank">Repositório
                            Github Django</a>
                    </p>
                    <p>(As dynos gratuitas podem ter expirado)</p>
                </div>
            </div>
        </div>
        <hr>

        <!--Senhas-->
        <div class="row">
            <div class="col-sm-12 col-lg-6 mb-sm-5">
                <img src="img/projetos/senhas.png" alt="Projeto Gerenciador de senhas" class="w-100 img-projeto"
                    data-tilt data-tilt-scale="1.1">
            </div>
            <div class="col-sm-12 col-lg-6 mb-sm-5">
                <div class="col">
                    <p class="h3 nome-projeto"><strong>Gerenciador de Senhas</strong></p>
                    <p><strong>Descrição: </strong>Este projeto tem como objetivo armazenar e criar as senhas do usuário
                        em poucos cliques. Com uma senha principal para poder acessar o aplicativo, os dados contidos
                        permanecem seguros. O usuário pode optar por uma senha de seu gosto ou o aplicativo se encarrega
                        de randomizar uma senha com 10 caracteres sendo letras maiúsculas e minúsculas, números e
                        caracteres especiais.</p>
                    <p><strong>Framework: </strong>Flutter</p>
                    <p><strong>Linguagem: </strong>Dart</p>
                    <p><strong>Info: </strong>As senhas armazenadas ficam salvas apenas no dispositivo em um banco de
                        dados SqLite (Sqflite) compatível com o Flutter.</p>
                    <p>
                        <strong>Links: </strong>
                        <a href="https://github.com/luanmalaquias/password-manager-flutter" target="_blank"> Repositório
                            Github</a> |
                        <a href="https://github.com/luanmalaquias/portfolio/releases/download/binary/minhas-senhas.apk"
                            target="_blank">Baixar aplicativo .apk</a>
                    </p>
                </div>
            </div>
        </div>
        <hr>

        <!--Dashboard-->
        <div class="row">
            <div class="col-sm-12 col-lg-6 mb-sm-5">
                <img src="img/projetos/dashboard.png" alt="Projeto Dashboard de vendas" class="w-100 img-projeto"
                    data-tilt data-tilt-scale="1.1">
            </div>
            <div class="col-sm-12 col-lg-6 mb-sm-5">
                <div class="col">
                    <p class="h3 nome-projeto"><strong>Dashboard de Vendas</strong></p>
                    <p><strong>Descrição: </strong>
                        Projeto realizado na semana Spring React do canal DevSuperior possui
                        Java Spring como backend, React com Bootstrap no frontend e PostgreSQL database upado nas
                        plataformas Netlify e Heroku.
                    </p>
                    <p><strong>Framework: </strong>Spring Boot, Bootstrap</p>
                    <p><strong>Linguagem: </strong>Java</p>
                    <p>
                        <strong>Links: </strong>
                        <a href="https://github.com/luanmalaquias/projeto-sds4" target="_blank">Repositório Github</a> |
                        <a href="https://dsvendas-luan.netlify.app">Netlify</a>
                    </p>
                    <p>(As dynos gratuitas do Heroku podem ter expirado)</p>
                </div>
            </div>
        </div>
        <hr>

        <!--Mask-->
        <div class="row">
            <div class="col-sm-12 col-lg-6 mb-sm-5">
                <img src="img/projetos/mask.jpg" alt="Projeto Detecção de máscaras" class="w-100 img-projeto" data-tilt
                    data-tilt-scale="1.1">
            </div>
            <div class="col-sm-12 col-lg-6 mb-sm-5">
                <div class="col">
                    <p class="h3 nome-projeto"><strong>Detecção de Máscara</strong></p>
                    <p><strong>Descrição: </strong>Script feito para a detecção de pessoas que não estão usando máscaras
                        que pode ser utilizado em câmeras de segurança de estabelecimentos ou vias públicas onde se tem
                        bastante movimento por meio de I.A.</p>
                    <p><strong>Linguagem: </strong>Python</p>
                    <p><strong>Principal biblioteca: </strong>Opencv, Pillow</p>
                    <p>
                        <strong>Link:</strong>
                        <a href="https://github.com/luanmalaquias/detect_mask" target="_blank">Repositório Github</a>
                    </p>
                </div>
            </div>
        </div>
        <hr>

        <!--EncLink-->
        <div class="row">
            <div class="col-sm-12 col-lg-6 mb-sm-5">
                <img src="img/projetos/enclink.png" alt="Projeto Encurta Link" class="w-100 img-projeto" data-tilt
                    data-tilt-scale="1.1">
            </div>
            <div class="col-sm-12 col-lg-6 mb-sm-5">
                <div class="col">
                    <p class="h3 nome-projeto"><strong>Encurtador de URL</strong></p>
                    <p><strong>Descrição: </strong>O EncLink tem como objetivo encurtar links que o usuário desejar.
                        Também faz autenticação de usuário, podendo ver seu histórico de links encurtados.</p>
                    <p><strong>Framework: </strong>Django, Bootstrap</p>
                    <p><strong>Linguagem: </strong>Python</p>
                    <p>
                        <strong>Links: </strong>
                        <a href="https://enclink.herokuapp.com/" target="_blank">Heroku</a> |
                        <a href="https://github.com/luanmalaquias/enclink" target="_blank">Repositório Github</a>
                    </p>
                    <p>(As dynos gratuitas podem ter expirado)</p>
                </div>
            </div>
        </div>
        <hr>

        <!--Seu Dia-->
        <div class="row">
            <div class="col-sm-12 col-lg-6 mb-sm-5">
                <img src="img/projetos/seudia.png" alt="Projeto Seu Dia" class="w-100 img-projeto" data-tilt
                    data-tilt-scale="1.1">
            </div>
            <div class="col-sm-12 col-lg-6 mb-sm-5">
                <div class="col">
                    <p class="h3 nome-projeto"><strong>Seu Dia</strong></p>
                    <p><strong>Descrição: </strong>Projeto simples que randomiza frases e imagens motivacionais para
                        melhorar o seu dia.</p>
                    <p><strong>Framework: </strong>Bootstrap</p>
                    <p><strong>Linguagem: </strong>Html / Css / Js</p>
                    <p>
                        <strong>Link: </strong>
                        <a href="https://luanmalaquias.github.io/seudia/#motivacionais" target="_blank">Página
                            GitHub</a>
                    </p>
                </div>
            </div>
        </div>
        <hr>

        <!--Cryptocurrency-->
        <div class="row">
            <div class="col-sm-12 col-lg-6 mb-sm-5">
                <img src="img/projetos/cryptocurrency.png" alt="Projeto Valor do Bitcoin" class="w-100 img-projeto"
                    data-tilt data-tilt-scale="1.1">
            </div>
            <div class="col-sm-12 col-lg-6 mb-sm-5">
                <div class="col">
                    <p class="h3 nome-projeto"><strong>Cryptocurrency Bitcoin</strong></p>
                    <p><strong>Descrição: </strong> Projeto que se encarrega de realizar requisições sobre os valores
                        atualizados das principais plataformas de trade de criptomoedas (bitcoin) disponíveis no
                        mercado. Contando com um design incrivelmente minimalista e valores da moeda convertidos em
                        Brl(real) e Usd(dolar).</p>
                    <p><strong>Framework: </strong> Bootstrap</p>
                    <p><strong>Linguagem: </strong> Html / Css / Js</p>
                    <p>
                        <strong>Link: </strong>
                        <a href="https://luanmalaquias.github.io/cryptocurrency/" target="_blank">Página GitHub</a>
                    </p>
                </div>
            </div>
        </div>
        <hr>

    </div>

    <script type="text/javascript" src="js/vanilla-tilt.min.js"></script>

    <!--Desativar vanillatilt em mobile-->
    <script>
        deactiveVanillaTilt();
    </script>
</body>

</html>