<!DOCTYPE html>
<html lang="pt-br">

<head>
</head>

<body>
    <div class="container-sm-fluid container-lg px-sm-2 px-lg-5">

        <div class="row d-flex justify-content-center mt-5 pt-5">
            <div class="col text-center">
                <h2 style="font-size: 80px;">Sobre</h2>
                <hr id="hrContato">
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <table class="table-borderless">
                <tr>
                    <th>Phone | Wpp</th>
                    <td><a href="https://wa.me/5583988897062" target="_blank">+55 (83) 9 8889-7062</a></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><a href="mailto:luan_malaquias@outlook.com">luan_malaquias@outlook.com</a></td>
                </tr>
                <tr>
                    <th>Linkedin</th>
                    <td>
                        <a href="https://www.linkedin.com/in/luandossantos/" target="_blank">
                            linkedin.com/in/luandossantos
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Github</th>
                    <td>
                        <a href="https://github.com/luanmalaquias" target="_blank">github.com/luanmalaquias</a>
                    </td>
                </tr>
                <tr>
                    <th>Instagram</th>
                    <td><a href="https://www.instagram.com/exoderz/" target="_blank">@exoderz</a></td>
                </tr>
                <tr>
                    <th>Facebook</th>
                    <td>
                        <a href="https://www.facebook.com/profile.php?id=100009211133626" target="_blank">
                            Luan Malaquias
                        </a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</body>

</html>