<!DOCTYPE html>
<html lang="pt-br">

<head>
</head>

<body>
    <div class="container-sm-fluid container-lg px-sm-2 px-lg-5 text-white">
        
        <div class="row d-flex justify-content-center text-center p-5">
            <div class="col-12">
                <h2 style="font-size: 80px;">Sobre</h2>
                <hr id="hrContato">
            </div>            
        </div>

        <div class="row p-5">
            
            <div class="col-12 col-lg-6 d-flex justify-content-center">                
                <img src="img/photo-purple.png" alt="foto" class="w-50" id="img-foto">
            </div>

            <div class="col-12 col-lg-6 py-5 py-lg-0">
                <span class="h4">Informações de Contato</span>
                <table class="table-borderless">
                    <tr>
                        <th class="px-0 px-lg-5">Wpp</th>
                        <td><a href="https://wa.me/5583988897062" target="_blank">+55 (83) 9 8889-7062</a></td>
                    </tr>
                    <tr>
                        <th class="px-0 px-lg-5">Email</th>
                        <td><a href="mailto:luan_malaquias@outlook.com">luan_malaquias@outlook.com</a></td>
                    </tr>
                    <tr>
                        <th class="px-0 px-lg-5">Linkedin</th>
                        <td>
                            <a href="https://www.linkedin.com/in/luandossantos/" target="_blank">
                                linkedin.com/in/luandossantos
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th class="px-0 px-lg-5">Github</th>
                        <td>
                            <a href="https://github.com/luanmalaquias" target="_blank">github.com/luanmalaquias</a>
                        </td>
                    </tr>
                    <tr>
                        <th class="px-0 px-lg-5">Instagram</th>
                        <td><a href="https://www.instagram.com/exoderz/" target="_blank">@exoderz</a></td>
                    </tr>
                    <tr>
                        <th class="px-0 px-lg-5">Facebook</th>
                        <td>
                            <a href="https://www.facebook.com/profile.php?id=100009211133626" target="_blank">
                                Luan Malaquias
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</body>

</html>